<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    #app {
      width: 600px;
      margin: 10px auto;
    }

    .tb {
      border-collapse: collapse;
      width: 100%;
    }

    .tb th {
      background-color: #0094ff;
      color: white;
    }

    .tb td,
    .tb th {
      padding: 5px;
      border: 1px solid black;
      text-align: center;
    }

    .add {
      padding: 5px;
      border: 1px solid black;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="add">
      品牌名称:
      <input type="text" v-model.trim="value">
      <input type="button" value="添加" @click="handleAdd" :disabled="list.length === 0">
    </div>
    <div class="add">
      品牌名称:
      <input type="text" placeholder="请输入搜索条件" v-model="keywords">
    </div>

    <div>
      <table class="tb">
        <tr>
          <th>编号</th>
          <th>品牌名称</th>
          <th>创立时间</th>
          <th>操作</th>
        </tr>
        <tr :key="item.index" v-for="(item,index) in list">
          <td>{{index+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.time | fm('YYYY-MM-DD HH:mm:ss')}}</td>
          <td>
            <a href="#" @click="handleDel(item.id)">删除</a>
          </td>
        </tr>
        <tr v-if="list.lenth === 0">
          <td colspan="4">没有品牌数据</td>
        </tr>
      </table>
    </div>
  </div>
  <script src="../vue.js"></script>
  <script src="../axios.js"></script>
  <script src="../moment.js"></script>
  <script>
    // 对日期进行格式化
    Vue.filter('fm', (time, formatStr) => {
      return moment(time).format(formatStr);
    })
    var fm = new Vue({
      el: '#app',
      data: {
        list: [],
        value: '',
        keywords: ''
      },
      // 当页面加载完闭后执行
      mounted() {
        // 加载列表数据
        this.loadData()
      },
      methods: {
        // 加载数据
        loadData() {
          axios
            .get('http://localhost:3000/list')
            .then((res) => {
              this.list = res.data
            })
        },
        handleAdd() {
          axios
            .post('http://localhost:3000/list', {
              name: this.value,
              time: new Date()
            })
            .then((res) => {
              if (res.status == 201) {
                this.loadData();
              } else {
                alert('添加失败')
              }
            })
        },
        handleDel(id) {
          if (!confirm('确认要删除么?')) {
            return;
          }
          axios
            .delete('http://localhost:3000/list/' + id)
            .then((res) => {
              if (res.status === 200) {
                this.loadData();
              } else {
                alert('删除失败');
              }
            })
        }
      },
      watch: {
        // 监听的是data中的属性searchValue
        keywords(newValue, oldValue) {
          // console.log(newValue, oldValue);
          // 发送异步请求
          axios
            .get('http://127.0.0.1:3000/list?name_like=' + newValue)
            .then((res) => {
              this.list = res.data;
            });
        }
      }
    })
  </script>
</body>

</html>